
.form-control {
    margin: 10px;
}

.btn {
    margin: 10px;
}

pre {
    background: transparent;
    border: none;
}

.keyword {
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    border: 1px solid lightgrey;
    background: lightgrey;
    padding: 2px 5px;
    margin: 2px;
    cursor: pointer;
    display: inline-block;
}

.searchResultKeyword {
    color: rgb(180, 0, 0);
}